@use '../../styles/colors'
@use '../../styles/custom'

.UploadFormContainerr
  margin-top: 15px
  width: 100%
  height: 100%

.Form
  width: 100%
  height: 90%
  border-radius: 20px
  border: 1px solid aquamarine
  margin-top: 20px

.FormU
 height: 90%

.FormE
  height: 85%

.ModalTitle
  position: absolute
  top: 5px
  font-weight: 300
  padding: 0px
  margin: 0px
  left: 0px
  padding-left: 5px
  border-bottom: 1px solid aquamarine
  width: 100%
  height: 23px
  font-weight: 500

.CancelIcon
  position: absolute
  top: 4px
  right: 5px
  width: 20px
  height: 20px

.InputGroupPath
  width: 100%
  height: 80%
  display: flex
  align-items: center

.InputInfoGroup
  display: flex
  align-items: center

.InputTagDescGroup
  display: flex
  flex-direction: column
  height: 86%

.Section
  width: 100%
  height: 35%
  display: flex
  flex-direction: column

.SectionPath
  margin-bottom: 20px

.SectionInput
  margin-top: 10px

.InfoRow
  display: flex
  justify-content: flex-start
  align-items: center
  width: 100%
  border-bottom: 1px solid aquamarine

.LastRow
  border-bottom: 0px

.RowPathU
  height: 25%

.RowInfoU
  height: 25%

.RowTagU
  height: 20%

.RowDescU
  height: 30%

.RowInfoE
  height: 30%

.RowDescE
  height: 40%

.RowTagE
  height: 30%

.Col
  display: flex
  flex-direction: column
  height: 100%

.ColInfo
  @extend .Col
  width: 50%
  padding: 20px

.ColPath
  @extend .Col
  width: 100%
  padding: 10px

.ColDesc
  @extend .Col
  width: 100%
  padding: 15px

.Label
  background-color: #0f81c4
  font-size: 14px
  padding: 5px
  margin-top: 10px

.LabelDate
  @extend .Label
  width: 60%

.LabelArea
  @extend .Label
  width: 98%

.InputText
  width: 80%
  height: 20px
  overflow: auto
  margin-top: 10px

.InputArea
  width: 99%
  height: 80%

.BrowseBtn
  @include custom.btnStyle($width: 80px, $height: 35px, $prop: font-size, $val: 12px)
  margin-left: 3%
  margin-top: 10px
  text-align: center

  &:hover
    transform: scale(1)
    opacity: .5

.UploadBtn
  @include custom.btnStyle($width: 100px, $height: 40px, $prop: font-size, $val: 16px)
  position: absolute
  left: 45%
  bottom: 10px
  font-weight: 100

  &:hover
    transform: scale(1)
    opacity: .5
