.InfoPlaceholder {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 1px solid aquamarine;
  border-radius: 5px;
  width: 70%;
  height: 30%;
}

.ListDiv {
  display: inline-block;
  justify-content: flex-start;
  height: 85%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.InfoList {
  display: inline-block;
  justify-content: flex-start;
  padding-left: 10px;
}

.InfoList>li {
  max-width: 30vw;
  word-wrap: break-word;
  white-space: normal;
  margin-bottom: 20px;
  font-weight: 300;
}

.InfoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: #0b537c;
  border-radius: 5px;
}

.InfoTitle>h4 {
  font-weight: 300;
}

@media only screen and (max-width: 1600px) {
  .InfoPlaceholder {
    height: 30%;
  }
  .InfoList>li {
    margin-bottom: 10px;
    font-size: 12px;
  }
}