@use '../../styles/colors'

.Container
	display: flex
	justify-content: flex-start
	align-items: center
	border-radius: 8px
	border: 1px solid colors.$border
	background-color: #B2FFFF

.ActionIcon
	width: 32px
	height: 32px
	margin-left: 10px

	&:hover
		transform: scale(1.2)

