.ResTable {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  overflow: auto;
  padding: 10px;
  border: 1px solid aquamarine;
  height: 85%;
  margin: 10px;
}

table {
  border-spacing: 0;
  border: 1px solid black;
}

td {
  border-bottom: 0;
}

td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

td:last-child {
  border-right: 0;
}
